<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/html" href="../main.css">
    <title></title>
  </head>
  <body>
    <h1>test</h1>
    <form class="" action="/numberAction" method="post">
    Choose a number  <input type="number" name="userNumber" value="" min="0" max="10" autofocus>
    </form>
    <p>
      <!-- numero de l'ordi : <%= storedRandom %> <br> -->
      resultat : <%= hint %> <br>
      chances utilisées : <%= countdown %>

    </p>
  </body>
</html>

